language: ruby
cache: bundler
rvm:
  - 2.1.1
before_script:
  - bundle exec rake db:create db:migrate DATABASE_URL=postgres://localhost/special_events_test
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
