<%= react_component('Search', {:url => 'parks.json'}, {:prerender => true}) %>

<!-- Format for amenities row to be positioned beneath the 3 form fields.
Since there are tons of checkbox options, only display when "Show Amenities" is selected (if this is easy to do). -->
<div class="row">
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li>
        <input id="amenity-name-1" type="checkbox"><label for="amenity-name-1">Amphitheater</label>
      </li>
      <li>
        <input id="amenity-name-2" type="checkbox"><label for="amenity-name-2">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-3" type="checkbox"><label for="amenity-name-3">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-4" type="checkbox"><label for="amenity-name-4">Boat Rental</label>
      </li>
      <li>
        <input id="amenity-name-5" type="checkbox"><label for="amenity-name-5">Community Center</label>
      </li>
      <li>
        <input id="amenity-name-6" type="checkbox"><label for="amenity-name-6">Day Camp</label>
      </li>
      <li>
        <input id="amenity-name-7" type="checkbox"><label for="amenity-name-7">Community Garden</label>
      </li>
      <li>
        <input id="amenity-name-8" type="checkbox"><label for="amenity-name-8">Disc Golf</label>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li>
        <input id="amenity-name-1" type="checkbox"><label for="amenity-name-1">Amphitheater</label>
      </li>
      <li>
        <input id="amenity-name-2" type="checkbox"><label for="amenity-name-2">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-3" type="checkbox"><label for="amenity-name-3">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-4" type="checkbox"><label for="amenity-name-4">Boat Rental</label>
      </li>
      <li>
        <input id="amenity-name-5" type="checkbox"><label for="amenity-name-5">Community Center</label>
      </li>
      <li>
        <input id="amenity-name-6" type="checkbox"><label for="amenity-name-6">Day Camp</label>
      </li>
      <li>
        <input id="amenity-name-7" type="checkbox"><label for="amenity-name-7">Community Garden</label>
      </li>
      <li>
        <input id="amenity-name-8" type="checkbox"><label for="amenity-name-8">Disc Golf</label>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li>
        <input id="amenity-name-1" type="checkbox"><label for="amenity-name-1">Amphitheater</label>
      </li>
      <li>
        <input id="amenity-name-2" type="checkbox"><label for="amenity-name-2">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-3" type="checkbox"><label for="amenity-name-3">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-4" type="checkbox"><label for="amenity-name-4">Boat Rental</label>
      </li>
      <li>
        <input id="amenity-name-5" type="checkbox"><label for="amenity-name-5">Community Center</label>
      </li>
      <li>
        <input id="amenity-name-6" type="checkbox"><label for="amenity-name-6">Day Camp</label>
      </li>
      <li>
        <input id="amenity-name-7" type="checkbox"><label for="amenity-name-7">Community Garden</label>
      </li>
      <li>
        <input id="amenity-name-8" type="checkbox"><label for="amenity-name-8">Disc Golf</label>
      </li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li>
        <input id="amenity-name-1" type="checkbox"><label for="amenity-name-1">Amphitheater</label>
      </li>
      <li>
        <input id="amenity-name-2" type="checkbox"><label for="amenity-name-2">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-3" type="checkbox"><label for="amenity-name-3">Baseball Field</label>
      </li>
      <li>
        <input id="amenity-name-4" type="checkbox"><label for="amenity-name-4">Boat Rental</label>
      </li>
      <li>
        <input id="amenity-name-5" type="checkbox"><label for="amenity-name-5">Community Center</label>
      </li>
      <li>
        <input id="amenity-name-6" type="checkbox"><label for="amenity-name-6">Day Camp</label>
      </li>
      <li>
        <input id="amenity-name-7" type="checkbox"><label for="amenity-name-7">Community Garden</label>
      </li>
      <li>
        <input id="amenity-name-8" type="checkbox"><label for="amenity-name-8">Disc Golf</label>
      </li>
    </ul>
  </div>
</div>
