<div class="row">
  <div class="large-4 columns">
    <h1>Find a Venue</h1>
  </div>
</div>

<form>
  <div class="row">
    <div class="large-4 columns">
      <label>By Amenity
        <select>
          <!-- populate with amenity categories -->
          <option value="Basketball">Basketball Court</option>
          <option value="Soccer">Soccer Field</option>
          <option value="Football">Football Field</option>
          <option value="Tennis">Tennis Court</option>
        </select>
      </label>
    </div>
    <div class="large-4 columns">
      <label>By Zip Code
        <input type="text" placeholder="Enter Zip Code">
      </label>
    </div>
    <div class="large-4 columns">
      <label>By Name
        <input type="text" placeholder="Enter Park Name">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <a href="#" class="button radius expand">Search</a>
    </div>
    <hr>
  </div>
</form>

<div class="row">
  <div class="large-4 columns">
    <!-- display number of search results -->
    <p>Total of <strong>112</strong> parks</p>
    <ol>
      <!-- populate with park search results -->
      <li>
        <h4><a href="">Park Name</a></h4>
        <p>Park description and details</p>
      </li>
      <li>
        <h4><a href="">Park Name</a></h4>
        <p>Park description and details</p>
      </li>
      <li>
        <h4><a href="">Park Name</a></h4>
        <p>Park description and details</p>
      </li>
      <li>
        <h4><a href="">Park Name</a></h4>
        <p>Park description and details</p>
      </li>
      <li>
        <h4><a href="">Park Name</a></h4>
        <p>Park description and details</p>
      </li>
    </ol>
  </div>
  <div class="large-8 columns">
    <img src="http://4.bp.blogspot.com/-O6IR1WmyEd8/UZ-APOBLFFI/AAAAAAAAEfE/lONvEFkWW-Y/s1600/Lexington+KY+Birds+eye.jpg" width="100%">
  </div>
</div>
<div id="content"></div>
