<div id="search-content">
  <div class="row">
    <div class="large-12 columns">
      <h1>Upcoming Special Events</h1>
    </div>
  </div>
  <!--   Search input fields for later.
    <form>
      <div class="row">
        <div class="large-5 columns">
          <label>Search by Keyword
            <input type="text" placeholder="e.g. event name, venue name" />
          </label>
        </div>
        <div class="large-5 columns">
          <label>Location
            <input type="text" value="Lexington, KY" placeholder="Lexington, KY" />
          </label>
        </div>
        <div class="large-2 columns">
          <a href="#" class="button radius expand search-button">Search</a>
        </div>
      </div>
    </form> -->
  <hr />
  <div class="row">
    <div class="large-8 columns search-results-container">
      <ul class="no-bullet">
        <div class="row search-result">
          <div class="large-4 columns">
            <img src="http://recodetech.files.wordpress.com/2014/05/trojan-horse-2011ronshutterstock.png?w=256&h=256&crop=1"  height="100px" />
          </div>
          <div class="large-8 columns">
            <li>
              <h4><a href="">Event Name</a></h4>
              <p>Monday, May 12 at 2:00 PM</p>
              <p>Venue Name</p>
            </li>
          </div>
        </div>
        <div class="row search-result">
          <div class="large-4 columns">
            <img src="http://recodetech.files.wordpress.com/2014/05/trojan-horse-2011ronshutterstock.png?w=256&h=256&crop=1"  height="100px" />
          </div>
          <div class="large-8 columns">
            <li>
              <h4><a href="">Event Name</a></h4>
              <p>Monday, May 12 at 2:00 PM</p>
              <p>Venue Name</p>
            </li>
          </div>
        </div>
        <div class="row search-result">
          <div class="large-4 columns">
            <img src="http://recodetech.files.wordpress.com/2014/05/trojan-horse-2011ronshutterstock.png?w=256&h=256&crop=1"  height="100px" />
          </div>
          <div class="large-8 columns">
            <li>
              <h4><a href="">Event Name</a></h4>
              <p>Monday, May 12 at 2:00 PM</p>
              <p>Venue Name</p>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div class="large-4 columns">
      <table>
        <thead>
          <tr>
            <th width="300">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a>All</a> (39)</td> <!-- display number count so users won't click on empty categories -->
          </tr>
          <tr>
            <td><a>This month</a> (10)</td>
          </tr>
          <tr>
            <td><a>Next month</a> (23)</td>
          </tr>
          <tr>
            <td><a>Select a month</a></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th width="300">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a>All of Lexington</a> (39)</td>
          </tr>
          <tr>
            <td><a>Downtown</a> (14)</td>
          </tr>
          <tr>
            <td><a>Select a neighborhood</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
