.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

#map {
  height: 400px;
}

.search-results {
  overflow: auto;
  height: 500px;
}

.four-columns {
  -webkit-column-count:4; /* Chrome, Safari, Opera */
  -moz-column-count:4; /* Firefox */
  column-count:4;

  -webkit-column-gap:40px; /* Chrome, Safari, Opera */
  -moz-column-gap:40px; /* Firefox */
  column-gap:40px;
}
