.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

#map {
  height: rem-calc(500);
}

.search-results {
  overflow: auto;
  height: rem-calc(500);
}

.four-columns {
  -webkit-column-count:4; /* Chrome, Safari, Opera */
  -moz-column-count:4; /* Firefox */
  column-count:4;

  -webkit-column-gap:rem-calc(40); /* Chrome, Safari, Opera */
  -moz-column-gap:rem-calc(40); /* Firefox */
  column-gap:rem-calc(40);
}

.search-button {
  padding: rem-calc(10);
  margin-top: rem-calc(20);
}

input[type='checkbox'] {
  margin-right: rem-calc(7);
}
