#content {
  width: rem-calc(1000);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  border: 1px solid rgba(0,0,0,0.10);
  border-top: none;
}

#map {
  height: 375px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

.search-results-container {
  overflow: auto;
  height: 600px;
}

.search-result {
  padding: 18px 0;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  p {
    margin-bottom: 0;
  }
}

.four-columns {
  -webkit-column-count:4; /* Chrome, Safari, Opera */
  -moz-column-count:4; /* Firefox */
  column-count:4;

  -webkit-column-gap:40px; /* Chrome, Safari, Opera */
  -moz-column-gap:40px; /* Firefox */
  column-gap:40px;
}

input[type='checkbox'] {
  margin-right: rem-calc(7);
}
